*
{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b25a08;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff7b00;
}